/* simple form */

.simple_form label {
  float: left;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: red;
  display: block;
}

