= simple_form_for(@partnership) do |f|
  - if @partnership.errors.any?
    #error_explanation
      %h2
        = pluralize(@partnership.errors.count, "error")
        prohibited this partnership from being saved:

      %ul
      - @partnership.errors.full_messages.each do |msg|
        %li= msg

  .inputs

  .actions
    = f.button :submit
