%h1 Listing partnerships

%table
  %tr
    %th
    %th
    %th

  - @partnerships.each do |partnership|
    %tr
      %td= link_to 'Show', partnership
      %td= link_to 'Edit', edit_partnership_path(partnership)
      %td= link_to 'Destroy', partnership, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Partnership', new_partnership_path
